<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{ currentCategoryName }}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">

        <div class="container py-5">
          <div class="row">
            <div class="col-lg-3" *ngFor="let item of products">
              <div class="product_card mb-4">
                <div class="card border-0">
                  <div class="card-header bg-transparent border-0 p-0">
                    <img class="card-img-top" src="{{ item.imageUrl }}" alt="">
                    <div class="card-overlay">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <!-- <button type="button" class="btn btn-secondary"><i class="far fa-heart"></i></button> -->
                        <button type="button" class="btn btn-light"><i class="fas fa-shopping-cart"></i> Add to cart</button>
                      </div>
                    </div>
                    <div class="details-btn">
                      <a routerLink="/products/{{ item.id }}" class="btn btn-dark">View Details <i
                          class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                  </div>
                  <div class="card-body text-center">
                    <strong>
                      <a routerLink="/products/{{ item.id }}" class="text-body">{{ item.name }}</a>
                    </strong>
                    <div class="price">
                      <span class="text-warning">{{ item.unitPrice | currency:'USD' }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- products empty -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No products found.
        </div>

      </div>

      <div class="footer-panigation">
        <div class="row">
          <div class="col-md-6">
            <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalElements" [maxSize]="5"
              [boundaryLinks]="true" (pageChange)="listProducts()">
            </ngb-pagination>
          </div>

          <div class="col-md-6">
            <span class=""><strong>Page size: </strong></span>
            <select class="ml-2" #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                <option>5</option>
                <option selected="true">10</option>
                <option>20</option>
                <option>50</option>
            </select>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>